/* Reset
------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, article, aside, hgroup, header, footer, figure, figcaption, nav, section { margin:0; padding:0; border:0; font-size:100%; vertical-align:baseline; line-height: 130% }
article, aside, hgroup, header, footer, figure, figcaption, nav, section { display: block; }
body {font-family:'돋움',Dotum,Helvetica,Verdana,Arial,sans-serif; color:#777; -webkit-text-size-adjust:none; font-size:12px; }
ol, ul { list-style:none; }
a:link, a:visited, a:hover, a,active, a:focus { text-decoration:none; cursor:pointer; color:#4d4d4d;}
img, select, input, button { vertical-align:middle; }

body{background:#E3E5E6;}

div#section{
	width:808px;
	margin:250px auto 0; 
}

div.banner{
	overflow:hidden;
	width:100%; 
	height:272px; 
	background:#FFF;
	border:1px solid #ccc;
}
	
div.banner ul.banner-img{float:left; width:73%;}
div.banner ul.banner-img > li{}
div.banner ul.banner-img > li:first-child{display: block;}
div.banner ul.banner-img > li > a > img{width:100%;}
div.banner ul.banner-txt{float:right; text-align: left; width:27%;}
div.banner ul.banner-txt > li{padding-left:23px; padding-right:1px; border-bottom:1px solid #e3e5e6; line-height:33px;}
div.banner ul.banner-txt > li:last-child{border-bottom:0px;}
div.banner ul.banner-txt > li.on{background:url(../img/icon_bullet.png) no-repeat 5px center; font-weight:bold;}

